openapi: 3.0.1
info:
  termsOfService: https://www.sped-v.de/agb-richtlinien/
  title: SpedV API
  version: v1
servers:
- description: SpedV REST API
  url: https://api.sped-v.de
paths:
  /v1/bankaccounts:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.BankAccount'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.BankAccount'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.BankAccount'
                type: array
          description: OK
        "401":
          description: Unauthorized
      security:
      - apikey: []
      tags:
      - BankAccount
  /v1/bankaccounts/{accountId}:
    get:
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.LiteBankAccount'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.LiteBankAccount'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.LiteBankAccount'
                type: array
          description: OK
        "401":
          description: Unauthorized
      security:
      - apikey: []
      tags:
      - BankAccount
  /v1/bankaccounts/{iban}:
    get:
      parameters:
      - explode: false
        in: path
        name: iban
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.LiteBankAccount'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.LiteBankAccount'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.LiteBankAccount'
                type: array
          description: OK
        "401":
          description: Unauthorized
      security:
      - apikey: []
      tags:
      - BankAccount
  /v1/bankaccounts/{accountId}/transfers:
    get:
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyTransfer'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyTransfer'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyTransfer'
                type: array
          description: OK
        "401":
          description: Unauthorized
      security:
      - apikey: []
      tags:
      - BankAccount
  /v1/bankaccounts/{accountId}/transfers/daily:
    get:
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyTransferDay'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyTransferDay'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyTransferDay'
                type: array
          description: OK
        "401":
          description: Unauthorized
      security:
      - apikey: []
      tags:
      - BankAccount
  /v1/bankaccounts/{accountId}/transfers/summary:
    get:
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyEURData'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyEURData'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyEURData'
                type: array
          description: OK
        "401":
          description: Unauthorized
      security:
      - apikey: []
      tags:
      - BankAccount
  /v1/ownedbranches:
    get:
      parameters:
      - explode: true
        in: query
        name: includePartnerships
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.OwnedBranch'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.OwnedBranch'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.OwnedBranch'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Branch
  /v1/ownedbranches/{branchid}:
    get:
      parameters:
      - explode: false
        in: path
        name: branchid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Branch
  /v1/ownedbranches/{branchid}/statistics:
    get:
      parameters:
      - explode: false
        in: path
        name: branchid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: startdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: enddate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Branch
  /v1/spareparts:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Branch
  /v1/spareparts/{sparepartid}:
    get:
      parameters:
      - explode: false
        in: path
        name: sparepartid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Branch
  /v1/spareparts/{sparepartid}/providers:
    get:
      parameters:
      - explode: false
        in: path
        name: sparepartid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Branch
  /v1/chats:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat'
                type: array
          description: OK
        "401":
          description: Unauthorized
      security:
      - apikey: []
      tags:
      - Chat
  /v1/spedchat:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Chat
  /v1/chat/{chatId}:
    get:
      parameters:
      - explode: false
        in: path
        name: chatId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat'
                type: array
          description: OK
        "401":
          description: Unauthorized
      security:
      - apikey: []
      tags:
      - Chat
  /v1/chat/{chatId}/messages:
    get:
      parameters:
      - explode: false
        in: path
        name: chatId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: lastMessage
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.ChatMessage'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.ChatMessage'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.ChatMessage'
                type: array
          description: OK
        "401":
          description: Unauthorized
      security:
      - apikey: []
      tags:
      - Chat
  /v1/kontor/{game}/trailers:
    get:
      parameters:
      - description: |2-


          0 = ETS2

          1 = ATS

          -1 = NotSet
        explode: false
        in: path
        name: game
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/FPH.SpedV.API.Enums.GameEnum'
          x-enumNames:
          - ETS2
          - ATS
          - NotSet
        style: simple
        x-enumNames:
        - ETS2
        - ATS
        - NotSet
      - explode: true
        in: query
        name: includePartnerships
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.Trailer'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.Trailer'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.Trailer'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Kontor
  /v1/kontor/{game}/jobs/available:
    get:
      parameters:
      - description: |2-


          0 = ETS2

          1 = ATS

          -1 = NotSet
        explode: false
        in: path
        name: game
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/FPH.SpedV.API.Enums.GameEnum'
          x-enumNames:
          - ETS2
          - ATS
          - NotSet
        style: simple
        x-enumNames:
        - ETS2
        - ATS
        - NotSet
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobOffer'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobOffer'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobOffer'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Kontor
  /v1/kontor/{game}/parts/available:
    get:
      parameters:
      - description: |2-


          0 = ETS2

          1 = ATS

          -1 = NotSet
        explode: false
        in: path
        name: game
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/FPH.SpedV.API.Enums.GameEnum'
          x-enumNames:
          - ETS2
          - ATS
          - NotSet
        style: simple
        x-enumNames:
        - ETS2
        - ATS
        - NotSet
      - explode: true
        in: query
        name: includePartnerships
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Kontor
  /v1/kontor/{game}/jobs:
    get:
      parameters:
      - description: |2-


          0 = ETS2

          1 = ATS

          -1 = NotSet
        explode: false
        in: path
        name: game
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/FPH.SpedV.API.Enums.GameEnum'
          x-enumNames:
          - ETS2
          - ATS
          - NotSet
        style: simple
        x-enumNames:
        - ETS2
        - ATS
        - NotSet
      - explode: true
        in: query
        name: showFinished
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Kontor
  /v1/kontor/{game}/jobs/{jobid}:
    get:
      parameters:
      - description: |2-


          0 = ETS2

          1 = ATS

          -1 = NotSet
        explode: false
        in: path
        name: game
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/FPH.SpedV.API.Enums.GameEnum'
          x-enumNames:
          - ETS2
          - ATS
          - NotSet
        style: simple
        x-enumNames:
        - ETS2
        - ATS
        - NotSet
      - explode: false
        in: path
        name: jobid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Kontor
  /v1/kontor/{game}/parts:
    get:
      parameters:
      - description: |2-


          0 = ETS2

          1 = ATS

          -1 = NotSet
        explode: false
        in: path
        name: game
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/FPH.SpedV.API.Enums.GameEnum'
          x-enumNames:
          - ETS2
          - ATS
          - NotSet
        style: simple
        x-enumNames:
        - ETS2
        - ATS
        - NotSet
      - explode: true
        in: query
        name: showFinished
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: includePartnerships
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Kontor
  /v1/kontor/{game}/parts/{partid}:
    get:
      parameters:
      - description: |2-


          0 = ETS2

          1 = ATS

          -1 = NotSet
        explode: false
        in: path
        name: game
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/FPH.SpedV.API.Enums.GameEnum'
          x-enumNames:
          - ETS2
          - ATS
          - NotSet
        style: simple
        x-enumNames:
        - ETS2
        - ATS
        - NotSet
      - explode: false
        in: path
        name: partid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Kontor
  /v1/kontor/{game}/parts/{partid}/jobs:
    get:
      parameters:
      - description: |2-


          0 = ETS2

          1 = ATS

          -1 = NotSet
        explode: false
        in: path
        name: game
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/FPH.SpedV.API.Enums.GameEnum'
          x-enumNames:
          - ETS2
          - ATS
          - NotSet
        style: simple
        x-enumNames:
        - ETS2
        - ATS
        - NotSet
      - explode: false
        in: path
        name: partid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Kontor
  /v1/live/positions:
    get:
      parameters:
      - explode: true
        in: query
        name: spedId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: includeSinglePlayer
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.ServerCommunication.Helper.REST.UserPosition'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.ServerCommunication.Helper.REST.UserPosition'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.ServerCommunication.Helper.REST.UserPosition'
                type: array
          description: OK
      tags:
      - Live
  /v1/live/onlineusers:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Live.ConvoyInfo'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Live.ConvoyInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Live.ConvoyInfo'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Live
  /v1/live/onlineuser:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Live.ConvoyInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Live.ConvoyInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Live.ConvoyInfo'
          description: OK
        "401":
          description: Unauthorized
      security:
      - apikey: []
      tags:
      - Live
  /v1/location/{query}:
    get:
      parameters:
      - explode: false
        in: path
        name: query
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BingMapsRESTToolkit.Location'
            application/json:
              schema:
                $ref: '#/components/schemas/BingMapsRESTToolkit.Location'
            text/json:
              schema:
                $ref: '#/components/schemas/BingMapsRESTToolkit.Location'
          description: OK
      tags:
      - Location
  /v1/location/realroute/{startCityId}/{destinationCityId}:
    get:
      parameters:
      - explode: false
        in: path
        name: startCityId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: destinationCityId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.RealRoute'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.RealRoute'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.RealRoute'
          description: OK
      tags:
      - Location
  /v1/location/scsmap/distance/{startBranchId}/{destinationBranchId}:
    get:
      parameters:
      - explode: false
        in: path
        name: startBranchId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: destinationBranchId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Live.SGMDistance'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Live.SGMDistance'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Live.SGMDistance'
          description: OK
      tags:
      - Location
  /v1/maintenance/truck:
    get:
      parameters:
      - explode: true
        in: query
        name: showAll
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckMaintenance'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckMaintenance'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckMaintenance'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Maintenance
  /v1/maintenance/trailer:
    get:
      parameters:
      - explode: true
        in: query
        name: showAll
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.TrailerMaintenance'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.TrailerMaintenance'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Kontor.TrailerMaintenance'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Maintenance
  /v1/maps:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.Map'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.Map'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.Map'
                type: array
          description: OK
      tags:
      - Maps
  /v1/maps/{mapId}/cities:
    get:
      parameters:
      - explode: false
        in: path
        name: mapId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.City'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.City'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.City'
                type: array
          description: OK
      tags:
      - Maps
  /v1/maps/{mapId}/companycities:
    get:
      parameters:
      - explode: false
        in: path
        name: mapId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCity'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCity'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCity'
                type: array
          description: OK
      tags:
      - Maps
  /v1/countries:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.Country'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.Country'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.Country'
                type: array
          description: OK
      tags:
      - Maps
  /v1/companies:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.Company'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.Company'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.Company'
                type: array
          description: OK
      tags:
      - Maps
  /v1/companies/{compid}:
    get:
      parameters:
      - explode: false
        in: path
        name: compid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.Company'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.Company'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.Company'
          description: OK
      tags:
      - Maps
  /v1/companies/{compid}/branches:
    get:
      parameters:
      - explode: false
        in: path
        name: compid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCity'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCity'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCity'
                type: array
          description: OK
      tags:
      - Maps
  /v1/companycategories:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCategory'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCategory'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCategory'
                type: array
          description: OK
      tags:
      - Maps
  /v1/companycategories/{compid}:
    get:
      parameters:
      - explode: false
        in: path
        name: compid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCategory'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCategory'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCategory'
          description: OK
      tags:
      - Maps
  /v1/omsi/maps:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Map'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Map'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Map'
                type: array
          description: OK
      tags:
      - Omsi
  /v1/omsi/maps/{mapid}:
    get:
      parameters:
      - explode: false
        in: path
        name: mapid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Map'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Map'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Map'
          description: OK
      tags:
      - Omsi
  /v1/omsi/maps/{mapid}/busstops:
    get:
      parameters:
      - explode: false
        in: path
        name: mapid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.BusStop'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.BusStop'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.BusStop'
                type: array
          description: OK
      tags:
      - Omsi
  /v1/omsi/maps/{mapid}/destinations:
    get:
      parameters:
      - explode: false
        in: path
        name: mapid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Destination'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Destination'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Destination'
                type: array
          description: OK
      tags:
      - Omsi
  /v1/omsi/maps/{mapid}/tours:
    get:
      parameters:
      - explode: false
        in: path
        name: mapid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour'
                type: array
          description: OK
      tags:
      - Omsi
  /v1/omsi/maps/{mapid}/tourtrips/{date}:
    get:
      parameters:
      - explode: false
        in: path
        name: mapid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: timediff
        required: false
        schema:
          default: 2
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour'
                type: array
          description: OK
      tags:
      - Omsi
  /v1/omsi/maps/{mapid}/tours/{tourid}:
    get:
      parameters:
      - explode: false
        in: path
        name: mapid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: tourid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour'
          description: OK
      tags:
      - Omsi
  /v1/omsi/maps/{mapid}/tours/{tourid}/trips:
    get:
      parameters:
      - explode: false
        in: path
        name: mapid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: tourid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: baseDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.TourTrip'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.TourTrip'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.TourTrip'
                type: array
          description: OK
      tags:
      - Omsi
  /v1/omsi/maps/{mapid}/trips:
    get:
      parameters:
      - explode: false
        in: path
        name: mapid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.TourTrip'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.TourTrip'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.TourTrip'
                type: array
          description: OK
      tags:
      - Omsi
  /v1/omsi/maps/{mapid}/stationlinks:
    get:
      parameters:
      - explode: false
        in: path
        name: mapid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.StationLink'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.StationLink'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.StationLink'
                type: array
          description: OK
      tags:
      - Omsi
  /v1/omsi/driventrips:
    get:
      parameters:
      - explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.DrivenTrip'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.DrivenTrip'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.DrivenTrip'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Omsi
  /v1/permissions:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Permission'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Permission'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Permission'
                type: array
          description: OK
        "401":
          description: Unauthorized
      security:
      - apikey: []
      tags:
      - Permissions
  /v1/simrail/server:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailServer'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailServer'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailServer'
                type: array
          description: OK
      tags:
      - SimRail
  /v1/simrail/server/{id}:
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailServer'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailServer'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailServer'
          description: OK
      tags:
      - SimRail
  /v1/simrail/server/{id}/trains:
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailActiveTrain'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailActiveTrain'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailActiveTrain'
                type: array
          description: OK
      tags:
      - SimRail
  /v1/simrail/server/{id}/trains/{number}:
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: number
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailActiveTrain'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailActiveTrain'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailActiveTrain'
          description: OK
      tags:
      - SimRail
  /v1/simrail/server/{id}/dispatchstations:
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailDispatchStation'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailDispatchStation'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailDispatchStation'
                type: array
          description: OK
      tags:
      - SimRail
  /v1/simrail/server/{id}/dispatchstations/{name}:
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailDispatchStation'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailDispatchStation'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailDispatchStation'
          description: OK
      tags:
      - SimRail
  /v1/spedition:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.FullSpeditionInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.FullSpeditionInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.FullSpeditionInfo'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Spedition
  /v1/spedition/boniTypes:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.BoniType'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.BoniType'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.BoniType'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Spedition
  /v1/spedition/accounts:
    get:
      parameters:
      - explode: true
        in: query
        name: includePartnerships
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.BankAccount'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.BankAccount'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Money.BankAccount'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Spedition
  /v1/spedition/changelog:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SpedChangeLogEntry'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SpedChangeLogEntry'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SpedChangeLogEntry'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Spedition
  /v1/spedition/partnerships:
    get:
      parameters:
      - explode: true
        in: query
        name: onlyAccepted
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SpeditionPartnershipEntry'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SpeditionPartnershipEntry'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SpeditionPartnershipEntry'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Spedition
  /v1/spedition/ranks:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Rank'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Rank'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Rank'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Spedition
  /v1/spedition/targets:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SpedTarget'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SpedTarget'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.SpedTarget'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Spedition
  /v1/spedition/stats:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.ServerCommunication.Helper.REST.SpedStats'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.ServerCommunication.Helper.REST.SpedStats'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.ServerCommunication.Helper.REST.SpedStats'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Spedition
  /v1/spedition/stats/user:
    get:
      parameters:
      - explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserStatUser'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserStatUser'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserStatUser'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Spedition
  /v1/spedition/stats/system:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Live.SystemStatistic'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Live.SystemStatistic'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Live.SystemStatistic'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Spedition
  /v1/tasks:
    get:
      parameters:
      - explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |2-


          0 = ETS2

          1 = ATS

          -1 = NotSet
        explode: true
        in: query
        name: game
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/FPH.SpedV.API.Enums.GameEnum'
          default: -1
          x-enumNames:
          - ETS2
          - ATS
          - NotSet
        style: form
        x-enumNames:
        - ETS2
        - ATS
        - NotSet
      - explode: true
        in: query
        name: userId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.PartialETSTaskInfo'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.PartialETSTaskInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.PartialETSTaskInfo'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Task
  /v1/tasks/details:
    get:
      parameters:
      - explode: true
        in: query
        name: taskIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Task'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Task'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Task'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Task
  /v1/tasks/{taskId}/details:
    get:
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Task'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Task'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Task'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Task
  /v1/tasks/{taskId}/drivedata:
    get:
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TaskDriveData'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TaskDriveData'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TaskDriveData'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Task
  /v1/trucks:
    get:
      parameters:
      - explode: true
        in: query
        name: includePartnerships
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Truck'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Truck'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Truck'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Truck
  /v1/trucks/{truckid}/statistics:
    get:
      parameters:
      - explode: false
        in: path
        name: truckid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: startdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: enddate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - Truck
  /v1/trucktypes:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckType'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckType'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckType'
                type: array
          description: OK
      tags:
      - Truck
  /v1/user:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.FullUserInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.FullUserInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.FullUserInfo'
          description: OK
        "401":
          description: Unauthorized
      security:
      - apikey: []
      tags:
      - User
  /v1/users:
    get:
      parameters:
      - explode: true
        in: query
        name: includeKontorPartnerships
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeTruckPartnerships
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserLiteInfo'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserLiteInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserLiteInfo'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - User
  /v1/userprofiles:
    get:
      parameters:
      - explode: true
        in: query
        name: ids
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserProfile'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserProfile'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserProfile'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - User
  /v1/vacations:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Vacation'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Vacation'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.Vacation'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - User
  /v1/users/{userId}/tasks:
    get:
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |2-


          0 = ETS2

          1 = ATS

          -1 = NotSet
        explode: true
        in: query
        name: game
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/FPH.SpedV.API.Enums.GameEnum'
          default: -1
          x-enumNames:
          - ETS2
          - ATS
          - NotSet
        style: form
        x-enumNames:
        - ETS2
        - ATS
        - NotSet
      - explode: true
        in: query
        name: onlyCurrentSped
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.PartialETSTaskInfo'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.PartialETSTaskInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Speditions.PartialETSTaskInfo'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - User
  /v1/users/{userId}/omsiTrips:
    get:
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.DrivenTrip'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.DrivenTrip'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.OMSI.DrivenTrip'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - User
  /v1/users/{userId}/changelog:
    get:
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserChangeLogEntry'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserChangeLogEntry'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserChangeLogEntry'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - User
  /v1/users/{userId}/profile:
    get:
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserProfile'
            application/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserProfile'
            text/json:
              schema:
                $ref: '#/components/schemas/FPH.SpedV.API.Objects.Users.UserProfile'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - apikey: []
      tags:
      - User
components:
  schemas:
    BingMapsRESTToolkit.Address:
      additionalProperties: false
      properties:
        addressLine:
          nullable: true
          type: string
        adminDistrict:
          nullable: true
          type: string
        adminDistrict2:
          nullable: true
          type: string
        countryRegion:
          nullable: true
          type: string
        locality:
          nullable: true
          type: string
        postalCode:
          nullable: true
          type: string
        countryRegionIso2:
          nullable: true
          type: string
        formattedAddress:
          nullable: true
          type: string
        neighborhood:
          nullable: true
          type: string
        landmark:
          nullable: true
          type: string
      required:
      - addressLine
      - adminDistrict
      - adminDistrict2
      - countryRegion
      - countryRegionIso2
      - formattedAddress
      - landmark
      - locality
      - neighborhood
      - postalCode
      type: object
    BingMapsRESTToolkit.Location:
      additionalProperties: false
      example:
        matchCodes:
        - matchCodes
        - matchCodes
        address: ""
        entityType: entityType
        confidence: confidence
        geocodePoints:
        - calculationMethod: calculationMethod
          boundingBox:
          - 6.027456183070403
          - 6.027456183070403
          coordinates:
          - 0.8008281904610115
          - 0.8008281904610115
          type: type
          usageTypes:
          - usageTypes
          - usageTypes
        - calculationMethod: calculationMethod
          boundingBox:
          - 6.027456183070403
          - 6.027456183070403
          coordinates:
          - 0.8008281904610115
          - 0.8008281904610115
          type: type
          usageTypes:
          - usageTypes
          - usageTypes
        bbox:
        - 1.4658129805029452
        - 1.4658129805029452
        __type: __type
        name: name
        queryParseValues:
        - property: property
          value: value
        - property: property
          value: value
        point: ""
      properties:
        name:
          nullable: true
          type: string
        point:
          allOf:
          - $ref: '#/components/schemas/BingMapsRESTToolkit.Point'
          nullable: true
        entityType:
          nullable: true
          type: string
        address:
          allOf:
          - $ref: '#/components/schemas/BingMapsRESTToolkit.Address'
          nullable: true
        confidence:
          nullable: true
          type: string
        matchCodes:
          items:
            type: string
          nullable: true
          type: array
        geocodePoints:
          items:
            $ref: '#/components/schemas/BingMapsRESTToolkit.Point'
          nullable: true
          type: array
        queryParseValues:
          items:
            $ref: '#/components/schemas/BingMapsRESTToolkit.QueryParseValue'
          nullable: true
          type: array
        bbox:
          items:
            format: double
            type: number
          nullable: true
          type: array
        __type:
          nullable: true
          type: string
      required:
      - address
      - confidence
      - entityType
      - geocodePoints
      - matchCodes
      - name
      - point
      - queryParseValues
      type: object
    BingMapsRESTToolkit.Point:
      additionalProperties: false
      example:
        calculationMethod: calculationMethod
        boundingBox:
        - 6.027456183070403
        - 6.027456183070403
        coordinates:
        - 0.8008281904610115
        - 0.8008281904610115
        type: type
        usageTypes:
        - usageTypes
        - usageTypes
      properties:
        type:
          nullable: true
          type: string
        coordinates:
          items:
            format: double
            type: number
          nullable: true
          type: array
        calculationMethod:
          nullable: true
          type: string
        usageTypes:
          items:
            type: string
          nullable: true
          type: array
        boundingBox:
          items:
            format: double
            type: number
          nullable: true
          type: array
      required:
      - boundingBox
      - calculationMethod
      - coordinates
      - type
      - usageTypes
      type: object
    BingMapsRESTToolkit.QueryParseValue:
      additionalProperties: false
      example:
        property: property
        value: value
      properties:
        property:
          nullable: true
          type: string
        value:
          nullable: true
          type: string
      required:
      - property
      - value
      type: object
    FPH.SpedV.API.AdminPermissionEnum:
      description: |2-


        0 = None

        1 = SeeLiveData

        2 = HandleScreenshots

        4 = HandleTaskCheck

        8 = TicketSystem

        16 = ViewData

        32 = ChangeData

        64 = BanUser

        128 = MapImport

        256 = KontorManagement

        512 = IsManagement
      enum:
      - 0
      - 1
      - 2
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      format: int32
      type: integer
      x-enumNames:
      - None
      - SeeLiveData
      - HandleScreenshots
      - HandleTaskCheck
      - TicketSystem
      - ViewData
      - ChangeData
      - BanUser
      - MapImport
      - KontorManagement
      - IsManagement
    FPH.SpedV.API.Enums.BankAccountType:
      description: |2-


        0 = System

        1 = Spedition

        2 = User

        -1 = NotSet
      enum:
      - 0
      - 1
      - 2
      - -1
      format: int32
      type: integer
      x-enumNames:
      - System
      - Spedition
      - User
      - NotSet
    FPH.SpedV.API.Enums.BoniTypeType:
      description: |2-


        0 = Value

        1 = KM

        -1 = NotSet
      enum:
      - 0
      - 1
      - -1
      format: int32
      type: integer
      x-enumNames:
      - Value
      - KM
      - NotSet
    FPH.SpedV.API.Enums.CargoMarketType:
      description: |2-


        0 = CargoMarket

        1 = QuickJob

        2 = FreightMarket

        3 = ExternalContract

        4 = ExternalMarket

        -1 = NotSet
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - -1
      format: int32
      type: integer
      x-enumNames:
      - CargoMarket
      - QuickJob
      - FreightMarket
      - ExternalContract
      - ExternalMarket
      - NotSet
    FPH.SpedV.API.Enums.ConvoyInfoDriveState:
      description: |2-


        0 = NoGame

        1 = Paused

        2 = InDrive

        3 = OMSI

        4 = StellwerkSim

        5 = Bot

        6 = SimRail_Train

        7 = SimRail_Dispatch
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      format: int32
      type: integer
      x-enumNames:
      - NoGame
      - Paused
      - InDrive
      - OMSI
      - StellwerkSim
      - Bot
      - SimRail_Train
      - SimRail_Dispatch
    FPH.SpedV.API.Enums.ETSTaskState:
      description: |2-


        0 = InDrive

        1 = Done

        2 = Settled

        3 = Fail

        4 = AdminCheck

        5 = Paused

        6 = Cancelled

        7 = Invalid

        -1 = NotAvaliable
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - -1
      format: int32
      type: integer
      x-enumNames:
      - InDrive
      - Done
      - Settled
      - Fail
      - AdminCheck
      - Paused
      - Cancelled
      - Invalid
      - NotAvaliable
    FPH.SpedV.API.Enums.GameEnum:
      description: |2-


        0 = ETS2

        1 = ATS

        -1 = NotSet
      enum:
      - 0
      - 1
      - -1
      format: int32
      type: integer
      x-enumNames:
      - ETS2
      - ATS
      - NotSet
    FPH.SpedV.API.Enums.JobOfferState:
      description: |2-


        0 = WaitingSpedition

        1 = WaitingDrive

        2 = InDrive

        3 = Finished

        -1 = NotAvaliable
      enum:
      - 0
      - 1
      - 2
      - 3
      - -1
      format: int32
      type: integer
      x-enumNames:
      - WaitingSpedition
      - WaitingDrive
      - InDrive
      - Finished
      - NotAvaliable
    FPH.SpedV.API.Enums.JobPartState:
      description: |2-


        0 = WaitingDriver

        1 = WaitingPrecondition

        2 = WaitingDrive

        3 = InDrive

        4 = Finished

        -1 = NotAvaliable
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - -1
      format: int32
      type: integer
      x-enumNames:
      - WaitingDriver
      - WaitingPrecondition
      - WaitingDrive
      - InDrive
      - Finished
      - NotAvaliable
    FPH.SpedV.API.Enums.JobPublicState:
      description: |2-


        0 = Assigned

        1 = Intern

        2 = Extern

        -1 = NotAvailable
      enum:
      - 0
      - 1
      - 2
      - -1
      format: int32
      type: integer
      x-enumNames:
      - Assigned
      - Intern
      - Extern
      - NotAvailable
    FPH.SpedV.API.Enums.KontorTrailerType:
      description: |2-


        0 = StandardTrailer

        1 = DoubleTrailer

        2 = BDoubleTrailer

        3 = TripleTrailer

        4 = ShortTrailer

        -1 = NotSet
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - -1
      format: int32
      type: integer
      x-enumNames:
      - StandardTrailer
      - DoubleTrailer
      - BDoubleTrailer
      - TripleTrailer
      - ShortTrailer
      - NotSet
    FPH.SpedV.API.Enums.MaintenanceKind:
      description: |2-


        0 = Engine

        1 = OszilationDamper

        2 = Stabilizer

        3 = StoneChip

        4 = Transmission

        5 = Wishbone

        6 = BrakePads

        7 = BrakeDiscs

        8 = EngineMaintenance

        9 = TireChange

        10 = MainCheck

        11 = SafetyCheck

        12 = SaddlePlate

        13 = AirPressureUnit

        14 = Alternator

        15 = BrakeVentil

        -1 = NotSet
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - -1
      format: int32
      type: integer
      x-enumNames:
      - Engine
      - OszilationDamper
      - Stabilizer
      - StoneChip
      - Transmission
      - Wishbone
      - BrakePads
      - BrakeDiscs
      - EngineMaintenance
      - TireChange
      - MainCheck
      - SafetyCheck
      - SaddlePlate
      - AirPressureUnit
      - Alternator
      - BrakeVentil
      - NotSet
    FPH.SpedV.API.Enums.MaintenanceState:
      description: |2-


        0 = Enqueued

        11 = InDrive

        12 = NotInOwnedBranch

        13 = OtherMaintenanceActive

        21 = MissingSpareParts

        22 = NotEnoughMaintenancePlaces

        91 = Processing

        92 = ProcessingButDelayed

        93 = Finished

        -1 = NotSet
      enum:
      - 0
      - 11
      - 12
      - 13
      - 21
      - 22
      - 91
      - 92
      - 93
      - -1
      format: int32
      type: integer
      x-enumNames:
      - Enqueued
      - InDrive
      - NotInOwnedBranch
      - OtherMaintenanceActive
      - MissingSpareParts
      - NotEnoughMaintenancePlaces
      - Processing
      - ProcessingButDelayed
      - Finished
      - NotSet
    FPH.SpedV.API.Enums.OMSITaskState:
      description: |2-


        0 = InDrive

        1 = Finished

        2 = Cancelled

        -1 = NotAvaliable
      enum:
      - 0
      - 1
      - 2
      - -1
      format: int32
      type: integer
      x-enumNames:
      - InDrive
      - Finished
      - Cancelled
      - NotAvaliable
    FPH.SpedV.API.Enums.ScreenshotState:
      description: |2-


        0 = None

        1 = Uploaded

        2 = Processed

        3 = Rejected

        4 = TaskSettled
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      format: int32
      type: integer
      x-enumNames:
      - None
      - Uploaded
      - Processed
      - Rejected
      - TaskSettled
    FPH.SpedV.API.Enums.SpedTargetKontorHandling:
      description: |2-


        0 = AllTasks

        1 = OnlyKontorTasks

        2 = NoKontorTasks
      enum:
      - 0
      - 1
      - 2
      format: int32
      type: integer
      x-enumNames:
      - AllTasks
      - OnlyKontorTasks
      - NoKontorTasks
    FPH.SpedV.API.Enums.SpedTargetOMSIHandling:
      description: |2-


        0 = AllTasks

        1 = OnlyOMSITasks

        2 = NoOMSITasks
      enum:
      - 0
      - 1
      - 2
      format: int32
      type: integer
      x-enumNames:
      - AllTasks
      - OnlyOMSITasks
      - NoOMSITasks
    FPH.SpedV.API.Enums.SpedTargetType:
      description: |2-


        0 = Value

        1 = Distance

        2 = WeightDistance
      enum:
      - 0
      - 1
      - 2
      format: int32
      type: integer
      x-enumNames:
      - Value
      - Distance
      - WeightDistance
    FPH.SpedV.API.Enums.SpeditionChangeEntryType:
      description: |2-


        0 = TaskDeducted

        1 = TaskRejected

        2 = RankChanged

        3 = RankDeleted

        4 = UserRankChanged

        5 = UserDismissed

        6 = SpeditionSettingChanged

        7 = ApplicationTextChanged

        8 = ApplicationAcknowledged

        9 = ApplicationRejected

        10 = BranchBought

        11 = BranchExpandedTruckParkplace

        12 = BranchShrinkedTruckParkplace

        13 = BranchDeleted

        14 = TruckBought

        15 = TruckSold

        16 = TruckLicensePlateChanged

        17 = BoniAdded

        18 = BoniDeleted

        19 = RankAddedPermission

        20 = RankDeletedPermission

        21 = BranchExpandedTrailerParkplace

        22 = BranchShrinkedTrailerParkplace

        23 = BranchExpandedMaintenancePlace

        24 = BranchShrinkedMaintenancePlace

        25 = TruckTransfered

        26 = TruckMaintenancePlanned

        27 = TruckMaintenanceAborted

        -1 = NotSet
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      - -1
      format: int32
      type: integer
      x-enumNames:
      - TaskDeducted
      - TaskRejected
      - RankChanged
      - RankDeleted
      - UserRankChanged
      - UserDismissed
      - SpeditionSettingChanged
      - ApplicationTextChanged
      - ApplicationAcknowledged
      - ApplicationRejected
      - BranchBought
      - BranchExpandedTruckParkplace
      - BranchShrinkedTruckParkplace
      - BranchDeleted
      - TruckBought
      - TruckSold
      - TruckLicensePlateChanged
      - BoniAdded
      - BoniDeleted
      - RankAddedPermission
      - RankDeletedPermission
      - BranchExpandedTrailerParkplace
      - BranchShrinkedTrailerParkplace
      - BranchExpandedMaintenancePlace
      - BranchShrinkedMaintenancePlace
      - TruckTransfered
      - TruckMaintenancePlanned
      - TruckMaintenanceAborted
      - NotSet
    FPH.SpedV.API.Enums.SpeditionType:
      description: |2-


        0 = NonCompeting

        1 = LightRealism

        2 = RealEco

        -1 = NotSet
      enum:
      - 0
      - 1
      - 2
      - -1
      format: int32
      type: integer
      x-enumNames:
      - NonCompeting
      - LightRealism
      - RealEco
      - NotSet
    FPH.SpedV.API.Enums.UserChangeEntryType:
      description: |2-


        0 = ChangedName

        1 = JoinedSpedition

        2 = DismissedBySpedition

        3 = Quitted

        4 = ChangedProfileData

        5 = FoundedSpedition

        -1 = NotSet
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - -1
      format: int32
      type: integer
      x-enumNames:
      - ChangedName
      - JoinedSpedition
      - DismissedBySpedition
      - Quitted
      - ChangedProfileData
      - FoundedSpedition
      - NotSet
    FPH.SpedV.API.Objects.ChatSystem.Chat:
      additionalProperties: false
      example:
        participantString: participantString
        subject: subject
        initiator: ""
        lastMessageTimestamp: 2000-01-23T04:56:07.000+00:00
        startTime: 2000-01-23T04:56:07.000+00:00
        id: 0
        lastMessageString: lastMessageString
        participants:
        - hasArchived: true
          isAdmin: true
          user: ""
          lastView: 2000-01-23T04:56:07.000+00:00
        - hasArchived: true
          isAdmin: true
          user: ""
          lastView: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          format: int32
          type: integer
        initiator:
          allOf:
[...]
